.about-container{
    display: flex;
    background-color: #ab9353;
    height: 1000px;
    padding: 100px 0 100px 0;
}

.about-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;
}

.about-desc > h3{
    margin-bottom: 30px;
    font-size: 5em;
    color: white;
    font-family: 'Merriweather', serif;
}

.about-desc > p{
    line-height: 2em;
    color: white;
    font-family: 'Merriweather', serif;
}

.about-img{
    width: 45%;
    display: flex;
    align-self: center;
    overflow: hidden;
    border-radius: 5%;
    margin-right: 5%;
}

@media (max-width: 768px){

    .about-container{
        height: 1000px;
        width: 100%;
    }
    .about-img{
        width: 25vh;
        height: 15vh;
    }

    .about-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        padding: 0 5% 0 5%;
    }

    .about-desc > h3{
        margin-bottom: 30px;
        font-size: 2em;
    }
    
    .about-desc > p{
        font-size: 0.9rem;
    }
    
        
}