.carousel-container{
    display: flex;
    align-items: center;
    background-color: #dcc7aa;
    padding: 35px 0 35px 0;
    height: 900px;
}

.car-title{
    color: black;
    width: 40%;
    text-align: center;
    font-size: 30px;
    padding: 0 100px 0 100px;
}

.car-title > h2{
    font-size: 1.5em;
    font-family: 'Merriweather', serif;
    color: white;
}

.carousel-item {
    height: 10%;
    width: 10%;
    border-radius: 1%;
    overflow: hidden;
    position: relative;
    cursor: pointer;

}

.carousel-item > img {
    object-fit: contain;
    transition: all 0.2s ease-in-out;
}

.carousel-item:hover > img{
    transform: scale(1.2);
    opacity: 0.5;
}

@media (max-width: 768px){

    .carousel-container{
        display: grid;
        background-color: #d9eee9;
        height: 400px;
    }
    
    .car-title{
        color: rgb(14, 1, 1);
        width: 50vh;
        text-align: center;
        font-size: 50%;
        padding: 0 60px 0 60px;
    }
    

    .car-title > h2{
        font-size: 20px;
        padding-left: 31px;
    }

    .carousel-item > img {
        transition: all 0.2s ease-in-out;
        height: 150px;
    }
    
    .carousel-item:hover > img{
        transform: scale(1.2);
        opacity: 0.5;
    }
}